* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}

.grids {
  height: 100%;
  width: 100%;
  background-color: #4499ca;
  background-image: linear-gradient(135deg, #446171 0%, #2fbed7 100%);
  display: grid;
  gap: 20px;
  padding: 4rem;
}

.item {
  background-color: #b02792;
  background-image: linear-gradient(160deg, #a143a8 0%, #7755d3 100%);
  border: 5px black solid;
  color: azure;
  text-align: center;
  font-size: 1.8rem;
}

@media (min-width: 700px) {
  
  .grids {
    grid-template-columns: repeat(3, 1fr);
  }

  .header,.footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .longbar {
    grid-column-start: 2;
    grid-column-end: 4;
  }
 
}
