body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #837b7b;
}

header {
    background-color: #333; /* Header background color */
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Position the logo and navigation at each end of the header */
    align-items: center;
    padding: 20px;
    height: 70px; /* Set a fixed height for the header */
}

.logo {
    height: 50px; /* Set the height of the logo as needed */
    width: 50px; /* Set the width of the logo as needed */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

.animated-heading {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
section {
    padding: 30px;
}

.project {
    margin: 20px 0;
}

.skill {
    background-color: #fff; /* Skill card background color */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    position: relative;
    background-color: #333; /* Footer background color */
    color: #fff;
    text-align: center;
    padding: 10px;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.social-icons a {
    margin: 0 10px;
}


.centered {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.centered h1 {
    margin-bottom: 20px; /* Add spacing below the centered heading */
}
hr{
    width: 50%;
}
.expand-button {
    cursor: pointer;
    color: #000102; /* Change the color to your preference */
    text-decoration:underline;
}
.education{
    text-align: center;
    padding: 20px;
}
#contact-form {
    max-width: 400px;
    margin: 0 auto;
}

#contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #0077b5; /* Button background color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #005682; /* Button background color on hover */
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .centered h1 {
        margin-bottom: 10px;
    }
}

