body {
  background-color: rgb(255, 255, 255); /* Professional background color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  /* Header background color */
  background-color: #080808;
  background-image: linear-gradient(160deg, #080808 0%, #283631 100%);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* height: 100px; */
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  /* display: inline; */
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #0cbce4;
  bottom: 0;
  transition: width 0.6s; /* Apply the transition to the width property */
}

nav ul li a:hover::before {
  width: 100%; /* Change the width to 100% on hover */
}





/* Styles for side buttons */
.side-buttons {
  display: none; /* Initially hide side buttons */
}

@media screen and (max-width: 500px) {
  .nav ul {
    display: none; /* Hide navbar items when width is less than 500px */
  }
  
  .side-buttons {
    display: block; /* Show side buttons when width is less than 500px */
  }
}


.social-icons {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-icons a {
  display: inline-block; /* Make the anchor tags behave as blocks */
  margin: 0 10px;
}

/* For the links of the social icons */
.social-icons a {
  margin: 0 10px;
  text-align: center;
}

/* for the section following the header */
section {
  padding: 30px;
}





/*           BOX EVENTS*/

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns per row */
  gap: 80px; /* Adjust the gap between boxes as needed */
  justify-content: center; /* Center the grid horizontally */
  width: 50%;
}

#cards h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 40px;
}
#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxy {
  height: 400px;
  width: 300px;
  background-color: #fcfdfd;
  box-shadow: black 0px 0px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
}

.boxy .img1 {
  height: 40%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.boxy h2 {
  text-align: center;
}

.boxy p {
  text-align: center;
}

.boxy a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  border: black 1px solid;
  width: fit-content;
  align-self: center;
}

#main {
  height: 500px;
}
.mainevents {
  background-color: #fff; /* Skill card background color */
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*  EDUCATION WALA PART  */



hr {
  width: 50%;
}

.centered {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  /* border: black solid 2px; */
  border-radius: 5px;
}

.centered h1 {
  margin-bottom: 20px; /* Add spacing below the centered heading */
}

footer {
  background-color: #080808;
  background-image: linear-gradient(160deg, #080808 0%, #283631 100%);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin-bottom: 50px; */

  /* height: 50px;  */
  /* You can adjust the height as needed */
}

.footer2 {
  bottom: 0px;
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .container {
      grid-template-columns: 1fr; /* Single column */
  }
}